body {
    background: #DEE6F1;
    color: #4f4f4f;
    font-family: 'Roboto Condensed';
    margin: 0px;
    padding: 0px;
}

p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}
.banner {
  position: relative;
  background-color: #0a1654;
  height: 50px;
  width: 100%;
  color: #fff;
}

.banner p {
  padding: 0px 10px;
  font-size: 1.2em;
  line-height: 50px;
}

.shadow {
  -moz-box-shadow:    2px 2px 5px 1px #767676;
  -webkit-box-shadow: 2px 2px 5px 1px #767676;
  box-shadow:         2px 2px 5px 1px #767676;
}
/* fonts */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../fonts/roboto_condensed/RobotoCondensed-Regular.ttf) format('truetype');
}
