body {
    background: #E7E4E4;
    color: #4f4f4f;
    font-family: 'Roboto Condensed';
    margin: 0px;
    padding: 0px;
}

p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}
.banner {
  position: relative;
  background-color: #0a1654;
  height: 50px;
  width: 100%;
  color: #fff;
}

.banner--header {
  padding: 0px 10px;
  font-size: 1.2em;
  line-height: 50px;
}

.banner--menu-icon {
  font-size: 1.6em;
  padding: 0px 5px;
}

.shadow {
  -moz-box-shadow:    2px 2px 5px 1px #767676;
  -webkit-box-shadow: 2px 2px 5px 1px #767676;
  box-shadow:         2px 2px 5px 1px #767676;
}

.temperature-sensors-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* fonts */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../fonts/roboto_condensed/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(../fonts/roboto_condensed/RobotoCondensed-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(../fonts/roboto_condensed/RobotoCondensed-Bold.ttf) format('truetype');
}
