.temperature-sensor {
    /*border: 1px solid darkgray;*/
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 10px;
    min-width: 100px;
    background-color: #fff;
}


.temperature-sensor--device-name {
    font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
}

.temperature-sensor--guage {
    margin-top: 10px;
}

.temperature-sensor-divider {

}

.temperature-sensor--val-text {
    font-size: 2em;
}

.temperature-sub-header {
    font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 0.9em;
    color: #a5a5a5;
}

.temperature-sensor--time-stamp {
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 0.8em;
}